body {
  position: absolute;
  top: 40px;
  bottom: 20px;
  width: 100%;
}

h1 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  text-align: center;

}
.mainComponents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20em;
}
