body {
  position: absolute;
  top: 40px;
  bottom: 20px;
  width: 100%;
}
.mainComponents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20em;
}
